<nav>
  <% if (user) { %>
    
  <a href="/users/<%= user._id %>/applications" class="button" id="navBar">Your Movies</a>
  <a href="/auth/sign-out" class="button" id="navBar">Sign Out</a>

  <% } else { %>

  <a href="/auth/sign-in" class="button">Sign In</a>
  <a href="/auth/sign-up" class="button">Sign Up</a>

  <% } %>
</nav>
